
*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 98.8vw;
    height: 93vh;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.photo {
    position: relative;
    height: auto;
    overflow: hidden;
}

.photo:hover {
    filter: brightness(20%);
}

.photo img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    min-width: 100px;
    min-height: 100vh;
}

.photo .description {
    color: #f0f0f0;
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: left;
    padding: 30px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

.photo:hover .description {
    opacity: 1;
}