
*{
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 98.8vw;
    height: 93vh;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.photo {
    position: relative;
    flex: 1 1 auto;
    min-width: 200px;
    min-height: 200px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 10px;
    text-align: center;
}

.photo:hover .overlay {
    opacity: 1;
}
